<%- include('partials/header.ejs') %>

<!-- Third page for content viewing -->
<div class="container mt-5">
  <div class="row">
    <h2 class="fw-normal lh-1 p-3"><%= story.heading %></h2>
    <hr>
    <p class="lead"><%= story.content %></p>
  </div>
  <div class="d-inline-flex gap-2 mb-5 mt-5">
    <button class="d-inline-flex align-items-center btn btn- btn-outline-primary btn-lg px-4 rounded-pill" type="button">
      Edit
    </button>
    <button class="d-inline-flex align-items-center btn btn-outline-primary btn-lg px-4 rounded-pill" type="button">
      Delete
    </button>
  </div>
</div>

<%- include('partials/footer.ejs') %>